body {
    padding: 0;
    margin: 0;
}

header, section, footer {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background-color: #F9F6F1;
    padding: 56px 0 70px 0; 
}

.header-gallery {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.header-gallery-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-bottom: 35px;
}

.header-gallery-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    color: #000000;
    padding-bottom: 55px;
}

.header-gallery-button {
    width: 240px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B399;

    .header-gallery-button-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}

.header-gallery-picture-block {
    background-image: url("../img/running_shoes.png");
    width: 556px;
    height: 377px;
    position: relative;
}

.header-gallery-picture-price-before {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    right: 7px;
    bottom:308px
}

.header-gallery-picture-price-after {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D84033;
    right: 0px;
    bottom:243px;
        
}

.header-lines {
    display: flex;
    width: 205px;
    justify-content: space-between;
    margin: 0 auto;
}

.header-lines-item {
    width: 40px;
    height: 7px;
    background-color: #CECECE;    
}

.header-lines-item:hover {
    background-color: #D7B399;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.delivery {
    background-color:  #212121;
    padding: 80px 0 70px 0;
}

.delivery-contents-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.delivery-contents-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.collection {
    background-color: #E5E5E5;
    padding: 0 0 150px 0;
}

.men-collection {
    width: 50%;
    background-color: #F9F6F1;
    display: flex;
    justify-content: flex-end;
}

.collection-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #000000;
    padding-bottom: 25px;
}

.collection-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 40px;
}

.collection-button {
    width: 80px;
    height: 30px;
    background-color:#D7B399;
    color:#ffffff;
}    

.women-collection {
    width: 50%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: flex-start;
}

.collection-gallery {
    display: flex;
    flex-wrap: wrap;    
    padding-bottom: 150px;
}

.collection-gallery-item {
    /*background-image: url("../img/T-shirt-beige.png");*/
    width: 277px;
    height: 236px;
    position: relative;
}

.collection-gallery-item:nth-child(odd) {
    background-image: url("../img/T-shirt-beige.png");
}

.collection-gallery-item:nth-child(even) {
    background-image: url("../img/T-shirt-grey.png");
}

.collection-gallery-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #000000;
    position: absolute;
    bottom: 24px;
    left: 30px;
}

.sales {
    background-color: #212121;
    padding: 70px 0;
}

.sales-contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sales-contents-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-right: 60px;
}

.sales-contents-form {    
    padding-right: 35px;
}

input {
    width: 255px;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;    
    letter-spacing: 0.02em;
    color: #8D8D8D;
}

.sales-contents-button {
    width: 185px;
    height: 40px;
    background-color: #D7B399;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.sales-contents-button-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.new-item {
    background-color: #E5E5E5;
    padding: 150px 0;
}

.new-item-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 103px;
}

.new-item-gallery {
    display: flex;
    padding-bottom: 103px;
}

.new-item-gallery-group {
    margin: 0 auto;    
    position: relative;
}

.new-item-gallery-group-picture {
    width: 205px;
    height: 211px;
    background-image: url("../img/new-item-picture.png");
    background-repeat: no-repeat;
    padding-bottom: 25px;
}

.new-item-gallery-group-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-bottom: 15px;
}

.new-item-gallery-group-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D7B399;
}

.right-angle {
    position: absolute;
    width: 25px;
    border-left: 20px;
    border-top: 20px;
    border: 3px solid #D7B399; 
    left:0;
    top:0;   
}

.left-angle {
    position: absolute;
    width: 25px;
    border: 3px solid #D7B399;
    transform: rotate(90deg);
    left: 0;
    top: 0;    
}

.new-item-button {
    background-color: #D7B399;
    width: 220px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.new-item-button-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

footer {
    background-color: #212121;
    padding:73px 0 78px 0;
}

.footer-layout {
    display: flex;
    justify-content: space-between;
}

.footer-loop-group {
    max-width: 200px;
}

.footer-loop-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
}

.footer-loop-icon {
    background-image: url("../img/frame.svg");
    width: 40px;
    height: 40px;
}

.footer-loop-icon-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-loop-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;  
    color: #FFFFFF;
}

.footer-links {
    display: flex; 
    justify-content: space-between;
    width: 690px;   
}

.footer-link-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer-link-list-item {
    display: flex;    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4; 
    padding-bottom: 10px;       
}

.footer-link-list-item:last-child {
    padding-bottom: 0;
}


.footer-link-item-vk {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.footer-link-item-facebook {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

.footer-link-item-instagram {
    background-image: url("../img/instagram.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 2px;
}

.footer {
    background-color: #E5E5E5;
    padding: 30px 0 23px 0;
}

.footer-footer-layout {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;   
}








