html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title shop
    body
        header
            .container
                .nav-menu
                .header-gallery
        section.delivery
            .container
                .delivery-contents
                    .delivery-contents-title БЕСПЛАТНАЯ ДОСТАВКА ОТ 3000₽
                    .delivery-contents-text Сделайте заказ и получите подарок!
        section.sales
            .container
                .sales-contents
                    .sales-contents-text ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
                    .sales-contents-form
                        input(type="text" placeholder="Ваш e-mail")
                    .sales-contents-button
                        .sales-contents-button-text ПОДПИСАТЬСЯ
        section.new-item
            .container
                .new-item-title СКИДКИ ДО 90%
                .new-item-gallery
                    .new-item-gallery-group
                        .new-item-gallery-group-picture
                        .new-item-gallery-group-name Коктейльное платье
                        .new-item-gallery-group-price ₽ 40 000
                    .new-item-gallery-group                                            
                    .new-item-gallery-group
                    .new-item-gallery-group
                .new-item-button
                    .new-item-button-text ВСЕ МОДЕЛИ
        footer
            .container
                .footer-layout
                    .footer-loop-group
                        .footer-loop-title
                            .footer-loop-icon
                            .footer-loop-icon-text the loop                            
                        .footer-loop-text
                            |Lorem ipsum dolor sit amet,
                            |consectetur adipiscing elit.                       
                            |Nulla faucibus egestas elit,
                            |at eleifend elit ornare ut.                            
                    .footer-links
                        .footer-link-group
                            .footer-link-title Основные ссылки
                            .footer-link-list                                
                                .footer-link-list-item О компании
                                .footer-link-list-item Каталог
                                .footer-link-list-item Доставка
                                .footer-link-list-item Оплата
                        .footer-link-group
                            .footer-link-title Категории
                            .footer-link-list                               
                                .footer-link-list-item Мужская одежда
                                .footer-link-list-item Женская одежда
                                .footer-link-list-item Детская одежда
                                .footer-link-list-item Для животных
                        .footer-link-group
                            .footer-link-title ПОЛЕЗНЫЕ ССЫЛКИ
                            .footer-link-list                              
                                .footer-link-list-item Таблица размеров
                                .footer-link-list-item Блог о моде
                                .footer-link-list-item Наша миссия                                    
                        .footer-link-group
                            .footer-link-title СОЦ СЕТИ
                            .footer-link-list                                
                                .footer-link-list-item
                                    .footer-link-item-icon 
                                    .footer-link-item-text VK.com
                                .footer-link-list-item
                                    .footer-link-item-icon 
                                    .footer-link-item-text Facebook
                                .footer-link-list-item
                                    .footer-link-item-icon 
                                    .footer-link-item-text Instagram
                                   






